{% extends 'auth/base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h2 class="h4">Reset your password</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_new_password1">New Password:</label>
        <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_new_password2">Confirm New Password:</label>
        <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
    </div>
    <div class="d-grid mt-3">
        <button type="submit" class="btn btn-dark btn-lg">Reset Password</button>
    </div>
</form>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- MDB JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.js"></script>
{% endblock %}

