{% extends 'auth/base.html' %}

{% load static %}
{% block title %}password_reset_done{% endblock %}
{% block content %}

                <div class="card-body text-center">
                    <h2 class="h4">Password Reset Requested</h2>
                    <p class="mb-4">The email address you entered will receive an email with instructions on how to reset your password shortly.</p>
                    <p class="mb-4">Please check your inbox and follow the instructions in the email to reset your password.</p>
                    <p class="mb-4">If you do not receive an email, please ensure that you entered the correct email address and check your spam folder.</p>
                    <a href="{% url 'user_login' %}" class="btn btn-dark btn-lg">Return to login</a>
                </div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- MDB JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.js"></script>
{% endblock %}
